* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 50%;
  height: 300px;
  margin-inline: auto;
  background-color: #e0dede;
  border-radius: 60px;
  margin-top: 60px;
  box-shadow: 20px 20px 50px rgba(128, 128, 128, 0.732);
}

h1 {
  text-align: center;
  padding-block: 20px;
  padding-inline: 50px;
  background-color: rgb(0, 255, 255);
  font-size: 3rem;
}

.color-div {
  padding-top: 50px;

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.copy-btn {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #2b6971;
  padding: 15px;
  border-radius: 15px;
  color: aliceblue;
  cursor: pointer;

  transition: all 0.2s linear;
  text-transform: uppercase;
}

.copy-btn:hover {
  background-color: #18393e;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  border: none;
  padding: 15px 80px;
  font-size: 2.2rem;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: center;
}
.hide {
  /* display: none; */
  opacity: 0;
}
