* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    width: 100vw;  
    margin-inline: auto;
}
.header {
    display: flex;
    justify-content: flex-end;
}
#toggleBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    font-size: 1rem;
    padding: 10px;
    color: var(--text-color);
    transition: all 0.5s, color 0.3s;
}
.wrapper{  
    height: auto;  
    width: 350px;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 0 30px #000;  
}  
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 50px; 
    gap: 1rem;
    justify-content: center;
}
button.calc {
    background: transparent;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;  
    transition: all 200ms ease;
    border:none;
}
button.btn-number {
    background-color: #c3eaff;  
    color: #000;  
}
button.btn-operator{  
    background-color: #ffd0fd;  
    color: #f967f3;  
}
button.btn-equal{  
    background-color: #adf9e7;  
    color: #000;  
}   
button.clear{  
    background-color: #ffd5d8;  
    color: #fc4552;  
}  
button.equal-to {
    background-color: #adf9e7;  
    color: #000;  
    grid-row: span 2;
    border-radius: 50px;
}

.wrapper.dark{  
   background-color: #071115;  
}  
.dark button.btn-number {
    background-color: #1b2f38;  
    color: #f8fafb;   
}
.dark button.btn-operator{  
    background-color: #2e1f39;  
    color: #aa00a4;  
}
.dark button.btn-equal{  
    background-color: #adf9e7;  
    color: #000;  
}   
.dark button.clear{  
    background-color: #2d191e;  
    color: #bd3740;   
}  
.dark button.equal-to {
    background-color: #223323; 
}

button:hover{  
   transform: scale(1.1);  
}  
.result-screen {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 100px;
    padding: 10px;
    margin: 20px;
}
.dark .result-screen {  
   color:#f8fafd;
} 
.dark #toggleBtn {
    color:#f8fafd;    
}
